@use '../index.scss';

.btn {
  display: inline-flex;
  align-items: center;
  color: #000;
  border: none;
  font-size: index.$font-size-base;
  font-weight: 700;
  cursor: pointer;
  z-index: 1;
  transition: index.$transition;
  transform: scale(1);

  /* Size */
  &.size-small {
    height: index.$button-height-small;
    font-size: index.$font-size-small;
  }

  &.size-medium {
    height: index.$button-height-medium;
  }

  &.size-base {
    height: index.$button-height-base;
  }

  &.size-base.circle {
    width: index.$button-height-base;
  }

  &.size-large {
    height: index.$button-height-large;
  }

  /* Variant */
  &.primary {
    background-color: var(--essential-bright-accent);
  }

  &.background-base {
    background-color: var(--essential-base);
  }

  &.elevated-base {
    background-color: var(--background-elevated-base);
    color: var(--text-subdued);
  }

  &.transparent {
    background-color: transparent;
    color: var(--text-subdued);
  }

  /* Type */
  &.circle {
    border-radius: 50%;
  }

  &.rounded {
    border-radius: 50px;
  }

  /* Border */
  &.with-border {
    border: 1px solid var(--essential-subdued);
  }

  /* Icon position */
  &.icon-left {
    flex-direction: row;
    gap: index.$spacing-base;
  }

  &.icon-right {
    flex-direction: row-reverse;
    gap: index.$spacing-base;
  }

  /* Hover */
  &.hover-scale:hover {
    transform: scale(1.05);
    transform-origin: center;
  }

  &.hover-none-scale:hover {
    transform: scale(1);
  }

  &.transparent:hover {
    color: var(--text-base);
  }

  &.with-border:hover {
    border: 1px solid var(--essential-base);
  }
}

.icon-left:hover,
.icon-right:hover  {
    svg {
      fill: var(--essential-base);
    }
}

.hover-button-highlight:hover {
  background-color: var(--background-highlight);
  
  svg {
    fill: var(--essential-base);
  }
}