@use '../index.scss';

.login-prompt {
    @include index.full-screen-overlay;
    @include index.flex-center($direction: column);
    gap: index.$spacing-base;
    z-index: 2;
}

.login-prompt-content {
    @include index.flex-center($direction: column);
    gap: 16px;
    padding: 64px;
    width: 442px;
    background-color: rgb(27, 136, 87);
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, .4), #282828);
    border-radius: 8px;

    h2 {
        font-size: 2rem;
        margin: index.$spacing-base 0;
        line-height: 1.3;
    }
}

.content-login-link {
    @include index.flex-center;
    gap: index.$spacing-base;
    color: hsla(0, 0%, 100%, .7);
    margin: 24px 0 0;
    font-size: index.$font-size-small;

    a {
        color: var(--text-base);
        cursor: pointer;
        font-weight: bold;
        text-decoration: underline;

        &:hover {
            color: var(--text-bright-accent);
        }
    }
}