@use '../index.scss';

$logo-size: 72px;

.header {
    height: var(--main-app-header-height);
    width: 100%;
    background-color: var(--background-press);
    padding: index.$spacing-base;
    position: relative;
}

.header,
.header-logo,
.header-navigation,
.header-user-actions {
    @include index.flex-center($justify: space-between);
}

.header-logo {
    justify-content: center;
    width: $logo-size;
    z-index: 1;
    cursor: pointer;
}

.header-navigation {
    justify-content: center;
    flex-grow: 1;

    div {
        margin-left: index.$spacing-base;
    }
}