@use '../index.scss';

.normal-card {
    width: 100%;
    height: auto;
    border-radius: index.$border-radius-base;
    padding: var(--padding-normal-card);
    @include index.flex-center(column, flex-start, flex-start);
    gap: index.$spacing-base;
    min-width: var(--min-column-width);

    &:hover {
        background-color: var(--background-highlight);
    }

    &:hover .play-btn-wrapper{
        opacity: 1;
    }
}

.normal-card-top {
    position: relative;
    width: 100%;
}

.normal-card-img {
    display: block;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center center;
    border-radius: index.$border-radius-img-base;
    box-shadow: index.$box-shadow-img-base;
    background-color: inherit;
    background-color: #282828;
    color: var(--text-subdued);

    svg {
        width: 50%;
        height: 50%;
    }

    &.fallback {
        @include index.flex-center;
    }

    &.circle {
        border-radius: 50%;
    }
}

.play-btn-wrapper {
    position: absolute;
    bottom: index.$spacing-base;
    right: index.$spacing-base;
    opacity: 0;
    transition: index.$opacity-transition;

    &.playing {
        opacity: 1;
    }
}

.normal-card-bottom {
    @include index.flex-center(column, $align: flex-start);

    a {
        text-decoration: none;
        font-size: index.$font-size-small;
        color: var(--text-subdued);
        line-height: 1.5;

        &:hover {
            text-decoration: underline;
        }
    }

    &.disable-hover a{
        &:hover {
            text-decoration: none;
        }
    }

    .normal-card-title {
        font-size: index.$font-size-base;
        color: var(--text-base);
    }
}

.normal-card-sub-title {
    font-size: index.$font-size-small;
    color: var(--text-subdued);
    font-weight: 500;
    @include index.flex-center($justify: flex-start);
    span:not(:last-child):after {
        content: index.$not-last-child-after-content;
        margin: 0 4px;
    }
}

.normal-card-type {
    text-transform: capitalize;
    @include index.flex-center($justify: flex-start);
    
    span {
        margin-right: 4px;
    }

    &.pinned {
        svg {
            fill: var(--text-bright-accent);
            width: 12px;
            height: 12px;
        }
    }
}