@use '../index.scss';

$background-color-disable: #4d4d4d;
$progress-bar-height: 4px;
$slider-thumb-size: 12px;

.playing-bar-wrapper {
    padding: index.$spacing-base;
    width: 100%;
    flex-shrink: 0;
}

.playing-bar {
    height: var(--main-app-footer-height);
    @include index.flex-center($justify: space-between);
}

// Playing info
.now-playing-info {
    width: 30%;
    height: 100%;
    @include index.flex-center($justify: flex-start);
    padding-left: 8px;
}

.info-cover {
    width: 56px;
    height: auto;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 4px;
    display: block;
    margin-inline-end: 8px;
}

.info-content {
    @include index.flex-center(column, $align: flex-start);
    gap: 4px;
    margin: 0 8px;
    overflow: hidden;
    flex: 1;

    .album, 
    .info-artists-wrapper {
        @include index.ellipsis-one-line;
        text-decoration: none;
        color: var(--text-base);
        font-size: index.$font-size-small;

        &:hover {
            text-decoration: underline;
            color: var(--text-base);
        }
    }

    .info-artists-wrapper {
        a {
            text-decoration: none;
            font-size: 0.8125rem;
            color: var(--text-subdued);
        }
    }
}

.info-icon-wrapper {
    width: 32px;
    height: 32px;
    @include index.flex-center;
    color: var(--text-subdued);
    transform: scale(1);

    &:hover {
        color: var(--text-base);
        transform: scale(1.02);
    }
}

// Player controls
.player-controls {
    flex-grow: 1;
    height: 100%;
    @include index.flex-center($direction: column);
}

.general-controls {
    gap: index.$spacing-base;
    margin-bottom: index.$spacing-base;

    .playpause-wrapper {
        padding: 0 index.$spacing-base;
    }
}

.general-controls .playpause-wrapper {
    button {
        background-color: $background-color-disable;
        color: #000;

        svg {
            fill: #000;
        }
    }

    button:hover {
        background-color: $background-color-disable;
        color: #000;
    }
}

.general-controls .playpause-wrapper.playing {
    button {
        background-color: #fff;
    }
}

.general-controls,
.playback {
    @include index.flex-center;
    width: 100%;
    gap: index.$spacing-base;
}

.btn-wrapper.active {
    position: relative;
    color: var(--text-bright-accent);

    svg {
        fill: var(--text-bright-accent);
    }
    
    &::before {
        background-color: currentcolor;
        border-radius: 50%;
        bottom: 0;
        content: "";
        display: block;
        left: 50%;
        position: absolute;
        width: 4px;
        inline-size: 4px;
        height: 4px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

.playback-position {
    min-width: 40px;
    text-align: right;
    cursor: default;
    font-size: 0.8125rem;
    color: var(--text-subdued);
}

.playback-progressbar,
.volume-bar {
    flex-grow: 1;
    @include index.flex-center;
    position: relative;
    height: $progress-bar-height; 
    background-color: $background-color-disable; 
    border-radius: 4px; 
    cursor: default;
    min-width: 93px;

    &.active {
        cursor: pointer;
    }

    &:hover .range-slider-background {
        background-color: var(--essential-positive); 
    }

    &:hover .range-slider-thumb {
        opacity: 1;
    }
}

.playback-duration {
    min-width: 40px;
    text-align: left;
    cursor: default;
    font-size: 0.8125rem;
    color: var(--text-subdued);
}

// Playing actions
.playing-bar-actions {
    width: 30%;
    height: 100%;
    @include index.flex-center($justify: flex-end);
    padding-right: index.$spacing-base;
}

.volume {
    @include index.flex-center;
}

// Slider bar
.hidden-visually {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
}

.range-slider {
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    margin: 0;
    padding: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%; 
    height: 100%; 
    box-sizing: border-box; 
}

.range-slider-thumb,
.range-slider::-webkit-slider-thumb { 
    -webkit-appearance: none;
    appearance: none;
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    border-radius: 50%;
    background: var(--essential-base);
    cursor: pointer;
    transform: translate(-6px ,-50%); 
} 

.range-slider::-moz-range-thumb { 
    width: $slider-thumb-size;
    height: $slider-thumb-size;
    border-radius: 50%;
    background: var(--essential-base);
    cursor: pointer;
    transform: translate(-6px ,-50%); 
}

.range-slider-thumb { 
    position: absolute; 
    top: 50%; 
    transform: translate(-6px ,-50%); 
    opacity: 0;
}

.range-slider-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--essential-base); 
    border-radius: 4px; 
    width: 0%; 
    transition: width 0.1s linear; 
    cursor: default;
}