@use '../index.scss';

$search-box-max-width: 469px;
$search-box-min-width: 410px;

.search-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: var(--background-elevated-highlight);
    color: var(--text-subdued);
    -webkit-transition: index.$transition;
    transition: index.$transition;
  
    &.small {
      height: 32px;
      max-width: 188px;
    }

    &.medium {
      height: 40px;
      border-radius: 4px;
    }

    &.large {
      height: index.$size-base;
      max-width: $search-box-max-width;
      min-width: $search-box-min-width;
      border-radius: 50px;
      background-color: var(--background-highlight);
    }

    .search-icon, 
    .browse-icon,
    .clear-icon {
      display: flex;
      align-items: center;
      width: index.$size-base;
      height: index.$size-base;
      padding: 12px;
      margin-left: 0;
      cursor: pointer;
      color: var(--text-subdued);
    }
  
    input {
      flex-grow: 1;
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--text-base);
      font-size: index.$font-size-base;
      margin-right: 8px;
      letter-spacing: 1.5px;
    }
  
    .hidden {
      display: none;
    }

    &:hover {
      background-color: var(--background-elevated-highlight);
      box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .1);
    }

    &:focus-within {
      background-color: var(--background-elevated-highlight);
      box-shadow: 0 0 0 2px var(--essential-base); 
    }

    &:hover .search-icon,
    &:focus-within .search-icon,
    &:focus-within .browse-icon {
      color: var(--text-base);
    }

}

.search-box.small {
  background-color: hsla(0, 0%, 100%, .1);
  border: 0;
  border-radius: 4px;
  color: hsla(0, 0%, 100%, .7);
  height: 32px;
  text-overflow: ellipsis;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: opacity width;
  transition-property: opacity width;
  -webkit-transition-timing-function: cubic-bezier(.3,0,.4,1);
  transition-timing-function: cubic-bezier(.3,0,.4,1);
  width: 100%;

  .search-icon,
  .clear-icon {
    width: 32px;
    height: 32px;
    padding: 8px;
    flex-shrink: 0;
  }

  input,
  input::placeholder {
    font-size: index.$font-size-small;
    color: var(--text-subdued);
    font-weight: bold;
    flex-grow: 1;
    display: block;
    width: 100%;
  }

  &:focus-within {
    background-color: hsla(0, 0%, 100%, .1);
    box-shadow: none; 
  }
}
  
.search-box.medium {
    &:focus-within {
      background-color: var(--background-elevated-highlight);
      box-shadow: none; 
    }
}

.search-box.medium .search-icon,
.search-box.medium .clear-icon {
  svg {
    width: 16px;
    height: 16px;
  }
}

.search-box.medium .clear-icon {
  @include index.flex-center($justify: flex-end);
}

.search-box.medium input,
.search-box.medium input::placeholder {
  font-size: index.$font-size-small;
  color: var(--text-subdued);
  font-weight: bold;
  margin-left: -10px;
}

input {
  &::placeholder {
    color: var(--text-subdued);
    font-size: index.$font-size-base;
    letter-spacing: normal;
    font-weight: 500;
  }
}

.browse-icon {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 1px;
    height: 25px; 
    background-color: var(--essential-subdued);
  }

  &.active {
    color: var(--essential-base);
  }
}