@use '../index.scss';

$search-box-max-width: 469px;
$search-box-min-width: 410px;

.search-box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: var(--background-elevated-highlight);
    color: var(--text-subdued);
    -webkit-transition: index.$transition;
    transition: index.$transition;
  
    &.small {
      height: 32px;
    }

    &.medium {
      height: 40px;
    }

    &.large {
      height: index.$size-base;
      max-width: $search-box-max-width;
      min-width: $search-box-min-width;
      border-radius: 50px;
      background-color: var(--background-highlight);
    }

    .search-icon, 
    .browse-icon,
    .clear-icon {
      display: flex;
      align-items: center;
      width: index.$size-base;
      height: index.$size-base;
      padding: 12px;
      margin-left: 0;
      cursor: pointer;
      color: var(--text-subdued);
    }
  
    input {
      flex-grow: 1;
      height: 100%;
      border: none;
      outline: none;
      background-color: transparent;
      color: var(--text-base);
      font-size: index.$font-size-base;
      margin-right: 8px;
      letter-spacing: 1.5px;
    }
  
    .hidden {
      display: none;
    }

    &:hover {
      background-color: var(--background-elevated-highlight);
      box-shadow: inset 0 0 0 1px hsla(0, 0%, 100%, .1);
    }

    &:focus-within {
      background-color: var(--background-elevated-highlight);
      box-shadow: 0 0 0 2px var(--essential-base); 
    }
}

input {
  &::placeholder {
    color: var(--text-subdued);
    font-size: index.$font-size-base;
    letter-spacing: 0.5px;
    font-weight: 500;
  }
}

.browse-icon {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0px; 
    top: 50%; 
    transform: translateY(-50%); 
    width: 1px;
    height: 25px; 
    background-color: var(--essential-subdued);
  }
}