@use '../index.scss';

.sidebar {
    @include index.bodySectionBase;
    flex-shrink: 0;
    z-index: 5;

    &.collapsed {
        align-items: center;
    }
}

.sidebar-header {
    @include index.flex-center($justify: space-between);
    padding: 12px 16px 8px;
    margin-bottom: 12px;

    .sidebar-header-actions {
        @include index.flex-center;
        gap: index.$spacing-base;
    }

    &.collapsed {
        padding: 16px 8px 4px;
        margin-bottom: 0;

        span {
            display: none;
        }
    }
}

.create-playlist-prompt-wrapper {
    padding: 0 index.$spacing-base;
}

.create-playlist-prompt {
    margin: index.$spacing-base 0;
    padding: 16px 20px;
    background-color: var(--background-highlight);
    border-radius: index.$border-radius-base;
    @include index.flex-center(column, space-between, flex-start);
    gap: 20px;
    width: 100%;

    .create-playlist-prompt-text {
        @include index.flex-center(column, space-between, flex-start);
        gap: index.$spacing-base;
    }

    .create-playlist-prompt-text__title {
        font-weight: bold;
        font-size: index.$font-size-base;
    }

    .create-playlist-prompt-text__subtitle {
        font-size: index.$font-size-small;
    }
}

.sidebar-content {
    height: 100%;
}

.sidebar-footer {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.sidebar-legal-links {
    display: flex;
    flex-wrap: wrap;
    margin: 32px 0;
    padding: 0 index.$spacing-large;

    a {
        font-size: 0.813rem;
        color: var(--text-subdued);
        text-decoration: none;
        margin-right: index.$spacing-medium;
        margin-bottom: index.$spacing-base;
        display: inline-flex;
        align-items: center;
        line-height: 1.3125rem;
    }
}

.sidebar-footer-btn-wrapper {
    margin-bottom: 32px;
    padding: 0 index.$spacing-large;
}

.resize-bar {
    width: 7px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    position: absolute;
    top: 0px;
    right: -4px;
    bottom: 0px;
    font-size: 16px;
    font-weight: 400;
    border-right: 1px solid var(--essential-base);
    cursor: grab;
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}