@use '../index.scss';

$box-shadow: 0 16px 24px rgba(0, 0, 0, .3), 0 6px 8px rgba(0, 0, 0, .2);

.subcontext-menu {
    position: absolute;
    padding: 4px;
    background-color: #282828;
    border-radius: 4px;
    -webkit-box-shadow: $box-shadow;
    box-shadow: $box-shadow;
    max-height: calc(100vh - 24px);
    max-width: 350px;
    min-width: 152px;
    width: max-content;
    z-index: 4;
    overflow-y: auto;
}

.subcontext-menu.align-right {
    transform: translateX(-100%); 
}

.subcontext-menu.fixed {
    position: fixed;
}
  
.subcontext-item {
    background: transparent;
    border: 0;
    border-radius: 2px;
    color: hsla(0, 0%, 100%, .9);
    cursor: default;
    @include index.flex-center($justify: space-between);
    gap: 12px;
    padding: 12px 8px 12px 12px;
    font-size: index.$font-size-small;
    height: 44px;

    &.active {
        color: var(--text-positive);
    }

    &.disable {
        color: var(--text-subdued);
        font-weight: bold;

        &:hover {
            background: transparent;
            color: var(--text-subdued);
        }
    }
}

.subcontext-item.border-bottom {
    border-bottom: 1px solid #3e3e3e;
}

.subcontext-icon {
    width: 1rem;
    height: 1rem;

    svg {
        width: 1rem;
        height: 1rem;
    }
}

.subcontext-item-text {
    flex-grow: 1;
    @include index.ellipsis-one-line;
}
  
.subcontext-item:hover {
    background-color: hsla(0, 0%, 100%, .1);
    color: var(--text-base);
}

.subcontext-item.text-underline:hover {
    text-decoration: underline;
}