@use '../index.scss';

.top-result-card {
    border-radius: 8px;
    -webkit-box-flex: 1;
    background: #181818;
    -ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 20px;
    position: relative;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    width: 50%;
    min-width: 180px;
    height: auto;
    @include index.flex-center(column, $align: flex-start);
    gap: 20px;
    color: var(--text-base);
    text-decoration: none;

    &:hover {
        background-color: #282828;
    }

    &:hover .play-btn-wrapper {
        opacity: 1;
    }
}

.top-result-card-img-wrapper {
    background-color: #333;
    border-radius: index.$border-radius-img-base;
}

.top-result-card-img {
    display: block;
    width: 92px;
    height: auto;
    aspect-ratio: 1;
    border-radius: index.$border-radius-img-base;
    box-shadow: index.$box-shadow-img-base;
}

.top-result-card-info {
    width: 100%;
    @include index.flex-center(column, $align: flex-start);
    line-height: 1.3;
}

.top-result-card-title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 4px;

    &:hover {
        text-decoration: underline;
    }
}

.top-result-card-subtitle {
    font-size: index.$font-size-small;
    line-height: 1.5;

    span:not(:last-child):after {
        content: index.$not-last-child-after-content;
        margin: 0 4px;
    }
}

.top-result-card-type {
    text-transform: capitalize;
    color: var(--text-subdued);
}

.top-result-card-author {
    &:hover {
        text-decoration: underline;
    }
}

.play-btn-wrapper {
    position: absolute;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    transition: index.$opacity-transition;
}