@use '../index.scss';

.track-list {
    display: block;
    padding: var(--content-spacing);
}

.header-bar {
    display: grid;
    gap: index.$spacing-medium;
    @include index.dynamic-grid;
    height: 36px;
    // width: 100%;
    margin: 0 0 calc(var(--content-spacing) - 8px);
    padding: 0 index.$spacing-medium;
    color: var(--text-subdued);
    font-size: index.$font-size-small;
    border-bottom: 1px solid hsla(0, 0%, 100%, .1);
    transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease;
    position: relative;

    svg {
        width: 16px;
        height: 16px;
    }

    &.three-cols {
        @include index.dynamic-grid(three-cols);
    }

    &.four-cols {
        @include index.dynamic-grid(four-cols);
    }

    &.six-cols {
        @include index.dynamic-grid(six-cols);
    }

    span {
        @include index.flex-center($justify: flex-start);
    }

    .header-index,
    .header-duration {
        justify-content: center;
    }

    &.fixed {
        position: fixed;
        top: calc(var(--content-top-bar-height) + var(--main-app-header-height));
        left: calc(var(--left-sidebar-width) * 1px + 8px * 2);
        right: 8px;
        box-shadow: 0 -1px 0 0 #181818;
        padding: 0 calc(index.$spacing-medium + var(--content-spacing));
        transform: translateY(0);
        background: var(--background-highlight);
        z-index: 3;
    }

    &.hidden {
        opacity: 0;
        pointer-events: none;
    }    
}

.header-title-wrapper {
    height: fit-content;
    font-size: 24px;
    margin-bottom: 20px;
    border: none;
    color: var(--text-base);
    font-weight: bold;
    @include index.flex-center(column, flex-start, flex-start);

    &.top {
        flex-direction: column-reverse;
    }
}

.header-subtitle {
    font-size: index.$font-size-small;
    color: var(--text-subdued);
    font-weight: 500;
    margin-bottom: index.$spacing-base;
}

.track-list-content {
    @include index.flex-center(column);
   
}