@use '../index';

$padding-content: 4px var(--content-spacing) 0;
$top-item-height: 48px;
$border-radius-value: 4px;

.home-page {
    @include index.pageContentBase;
}

.home-page-header-buttons {
    position: sticky;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 64px;
    padding-inline: var(--content-spacing);
    @include index.flex-center($justify: flex-start);
    gap: index.$spacing-base;
    flex-shrink: 0;
}

.home-page-content {
    @include index.flex-center(column, $align: flex-start);
    gap: 2rem;

    h3 {
        margin-bottom: 16px;
    }
}

.content-top-items {
    width: 100%;
    @include index.flex-center($justify: flex-start);
    gap: 8px;
    flex-wrap: wrap;
    padding: $padding-content;
  
    .item-wrapper {
        width: calc(50% - 4px);
        min-width: 198px;
        height: $top-item-height;
        border-radius: $border-radius-value;
        @include index.flex-center($justify: flex-start);
        background-color: var(--background-tinted-base, rgba(0,0,0,0.08));

        &:hover {
            background: hsla(0, 0%, 100%, .2);
            cursor: pointer;
        }

        &:hover .item-btn-wrapper {
            opacity: 1;
        }
    }

    .item-img {
        display: block;
        width: auto;
        height: 100%;
        aspect-ratio: 1;
        border-top-left-radius: $border-radius-value;
        border-bottom-left-radius: $border-radius-value;
    }

    .item-details {
        padding-inline: index.$spacing-base;
        flex-grow: 1;
        @include index.flex-center($justify: space-between);
        width: 100%;
        overflow: hidden;
    }

    .item-name {
        font-size: index.$font-size-small;
        font-weight: bold;
        @include index.ellipsis-one-line;
        flex-grow: 1;
        margin-right: 8px;
    }

    .item-btn-wrapper {
        flex-shrink: 0;
        opacity: 0;
        transition: index.$opacity-transition;
    }
}