$grid-columns: 12; 
$gutter-width: 16px;
$container-max-width: 1200px;

$spacing-base: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;

$button-height-small: 32px;
$button-height-medium: 40px;
$button-height-base: 48px; 
$button-height-large: 56px;

$font-size-small: 0.875rem;
$font-size-base: 1rem;

$line-height-base: 1.375;

$size-small: 32px;
$size-base: 48px;

$transition: all .2s;
$opacity-transition: opacity .3s;

$border-radius-base: 10px;
$border-radius-img-base: 6px;

$box-shadow-img-base: 0 8px 24px rgba(0, 0, 0, .5);
$box-shadow-btn-base: 0 8px 8px rgba(0, 0, 0, .3);

$not-last-child-after-content: "•";