@use '../index.scss';

.main-app {
    background-color: var(--background-press);
    color: var(--text-base);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    @include index.flex-center($direction: column);
    position: relative;
}

.body-section {
    @include index.flex-center;
    gap: index.$spacing-base;
    width: 100%;
    flex-grow: 1;
    overflow: hidden;
    padding: 0 index.$spacing-base;
    position: relative;

    .overview {
        width: 280px;
        height: 100%;
        background-color: lightgreen;
    }
}