@use '../index';

$primary-background-color: rgb(83, 83, 83);

.media-detail-layout {
    @include index.pageContentBase;
    position: relative;
}

.media-detail-header {
    font-size: index.$font-size-small;
    color: rgba(255, 255, 255, 0.7);
    font-weight: bold;
    @include index.flex-center($justify: flex-start, $align: flex-end);
    padding: var(--content-spacing);
    gap: var(--content-spacing);
    position: relative;
}

.header-background,
.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.header-background {
    background-color: $primary-background-color;
}

.gradient-overlay {
    background: linear-gradient(transparent 0, rgba(0, 0, 0, .5) 100%), var(--background-noise);
}

.layout-header-fixed {
    position: fixed;
    top: var(--main-app-header-height);
    left: calc(var(--left-sidebar-width) * 1px + 8px * 2);
    right: 8px;
    height: var(--content-top-bar-height);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-top-left-radius: index.$border-radius-base;
    border-top-right-radius: index.$border-radius-base;
    padding: 0 index.$spacing-medium;
    @include index.flex-center($justify: flex-start);
    gap: index.$spacing-base;
    transform: translateY(0);
    background-color: $primary-background-color;
    z-index: 3;
}

.layout-header-fixed-background {
    background-color: $primary-background-color;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    -webkit-transition: background-color .25s, ease-out;
    transition: background-color .25s, ease-out;
    z-index: -1;
}

.layout-header-fixed-title {
    font-size: 1.5rem;
}

.cover-img-container {
    width: var(--content-cover-width);
    height: auto;
    aspect-ratio: 1;
    box-shadow: 0 4px 60px rgba(0, 0, 0, .5);
    border-radius: 4px;
    position: relative;
    @include index.flex-center;
    background-color: #282828;
    color: var(--essential-subdued);
    flex-shrink: 0;

    svg {
        width: 48px;
        height: 48px;
    }

    &:hover .hide-cover {
        opacity: 0;
    }

    &:hover .photo-edit-section {
        opacity: 1;
    }

    &:hover .cover-img + .photo-edit-section {
        background-color: rgba(0, 0, 0, .7);
    }
}

.cover-img {
    display: block;
    object-fit: cover;
    object-position: center center;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.photo-edit-section {
    @include index.flex-center(column);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    color: var(--essential-base);
    font-size: index.$font-size-base;
    line-height: 1.5;
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

.cover-circle {
    border-radius: 50%;
}

.media-information-container {
    @include index.flex-center(column, flex-end, flex-start);
    height: auto;
    z-index: 3;
    flex: 1;
}

.media-information-type {
    color: var(--text-base);
    text-transform: capitalize;
}

.media-information-subtitles {
    @include index.flex-center($justify: flex-start);
    flex-wrap: wrap;

    span:not(:last-child):after,
    a::after {
        content: index.$not-last-child-after-content;
        margin: 0 4px;
    }
}

.media-information-author-img {
    display: block;
    object-fit: cover;
    object-position: center center;
    border-radius: 50%;
    width: 24px;
    height: auto;
    aspect-ratio: 1;
    margin-right: 4px;
}

.media-information-author,
.media-information-album {
    @include index.flex-center($justify: flex-start);
    color: var(--text-base);
    text-decoration: none;
}

.media-information-author:after,
.media-information-album:after {
    color: var(--text-subdued);
}

.media-stats {
    span:not(:last-child):after {
        content: ',';
        margin: 0 4px 0 0;
    }
}

.media-detail-content {
    position: relative;
    width: 100%;
}

.media-detail-actions-background {
    background-color: $primary-background-color;
    background-image: linear-gradient(rgba(0, 0, 0, .6) 0, var(--background-base) 100%), var(--background-noise);
    width: 100%;
    height: 232px;
    position: absolute;
    z-index: -1;
}

.media-detail-actions {
    padding: var(--content-spacing);
    @include index.flex-center($justify: space-between);   
}

.media-detail-actions-left {
    @include index.flex-center;

    .btn-wrapper {
        margin-right: calc(var(--content-spacing) + 8px);
    }
}

.view-as-dropdown {
    position: relative;
    padding: index.$spacing-base;
    padding-right: 0;
}

.view-as-dropdown-btn {
    font-size: index.$font-size-small;
    color: var(--text-subdued);
    font-weight: bold;
    @include index.flex-center;
    gap: 8px;
    cursor: pointer;

    svg {
        width: 16px;
        height: 16px;
    }

    &:hover {
        color: var(--text-base);
    }
}